<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0VbxfjnWAq7pihD_q6gebZVJRq_aWG5s</string>
	<key>GCM_SENDER_ID</key>
	<string>99986217275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ordYoung.japanesecards</string>
	<key>PROJECT_ID</key>
	<string>ja-ar-cards</string>
	<key>STORAGE_BUCKET</key>
	<string>ja-ar-cards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99986217275:ios:152316fb46f504cda8ff1e</string>
</dict>
</plist>